div#X46fdd55eX3d96Xa49bX3cf3X044bce140761X {
    z-index: 1000;
    overflow: hidden;
}

div#X46fdd55eX3d96Xa49bX3cf3X044bce140761X ul.bar-hidden {
    transition-duration: 0.2s;
    opacity: 0.0;
    overflow: hidden;
}

div#X46fdd55eX3d96Xa49bX3cf3X044bce140761X ul.bar-hidden:hover {
    opacity: 1.0;
    overflow: hidden;
}

div#X46fdd55eX3d96Xa49bX3cf3X044bce140761X li {
    list-style-type: none!important;
    overflow: hidden;
}

div#X46fdd55eX3d96Xa49bX3cf3X044bce140761X li.bg-white {
    color: #000;
}

ul > .bg-black {
    background-color: rgb(70, 70, 70) !important;
    color: #ddd !important;
}

ul > .bg-black {
    background-color: rgb(70, 70, 70) !important;
}

div.top-menu-X46fdd55eX3d96 > ul {
    z-index: 100000;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

div.left-menu-X46fdd55eX3d96 {
    z-index: 100000;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 10%;
    overflow: hidden;
}

div.right-menu-X46fdd55eX3d96 {
    z-index: 100000;
    font-size: 12px;
    position: fixed;
    right: 0;
    bottom: 10%;
    overflow: hidden;
}

div.b-left {
    border-left: medium solid #333;
}

div.b-right {
    border-right: medium solid #333;
}